asgiref==3.5.0
backports.zoneinfo==0.2.1
boto3==1.21.27
botocore==1.24.27
dj-database-url==0.5.0
dj-email-url==1.0.4
Django==4.0.1
django-cache-url==3.2.3
django-ckeditor==6.2.0
django-js-asset==1.2.2
django-storages==1.12.3
environs==9.5.0
gunicorn==20.1.0
jmespath==1.0.0
marshmallow==3.14.1
Pillow==9.0.0
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-dotenv==0.19.2
s3transfer==0.5.2
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
whitenoise==5.3.0
