{% extends 'blog-base.html' %}
{% load static %}

{% block content %}

<!-- Custom CSS -->
<link href="{% static '/css/blog-detail.css' %}" rel="stylesheet">

<!-- Mathjax CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>

<!-- Highlight js -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>


    <div class="container article">
      <div class="article article-title">
        <h2>{{ object.title }}</h2>
      </div>
      <div class="article article-date">
        <h6>Updated on {{ object.updated_on }}</h6>
      </div>
      <div class="article article-content">
        <p>{{ object.body|safe }}</p>
      </div>
    </div>
{% endblock content %}