{% extends 'base.html' %}

{% block content %}
<!-- Wow.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
new WOW().init();
</script>

<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
  </ul>

<div class="container-fluid introduction">
    <div class="container">
        <h1 class="wow animate__animated animate__lightSpeedInLeft" data-wow-duration="1s">I'm Sakthyvell Superamaniam.</h1>
        <h1 class="wow animate__animated animate__lightSpeedInLeft link" data-wow-duration="1s">Developer.</h1>
        <h1 class="wow animate__animated animate__lightSpeedInLeft link" data-wow-duration="1s">Student.</h1>
    </div>
</div>


{% endblock content %}